@charset "UTF-8";
/* VARIABLES */
/* MIXINS */
/* HEADER */
.inicio {
  margin-bottom: 20px;
  padding: 0;
  height: 400px;
  background-image: url(../Imagenes/fondo_index.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  border: 2px white;
  border-radius: 15px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* BOTON PARA SUBIR */
.subir {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  margin: 0 25px 25px 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

i {
  font-size: 45px;
  color: rgba(43, 44, 48, 0.7);
}
i:hover {
  transition: 0.5s;
  font-size: 50px;
  color: rgba(43, 44, 48, 0.5);
}

/* SECTION */
h1 {
  color: white;
  text-align: center;
}

h1 {
  font-size: 34px;
}

h2 {
  color: white;
  text-align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h3 {
  padding: 15px 0;
  margin: 20px 0;
}

h4 {
  padding: 5px 0;
}

h5 {
  color: #1DD3B0;
}

h6 {
  color: #FF6392;
}

.color1 {
  background-color: #A1FC22;
}

.color2 {
  background-color: #FF6392;
}

.color3 {
  background-color: #1DD3B0;
}

.color4 {
  background-color: #FFA552;
}

.dimg1 {
  display: flex;
  align-items: center;
}

.img1 {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

p {
  text-indent: 15px;
  font-size: 18px;
  margin: 20px 10px;
}

.p1 {
  margin: 0;
}

.menu__img {
  margin: 10px auto;
  border-radius: 20px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__img a {
  display: block;
  text-align: center;
  align-content: center;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  width: 100%;
  padding: 45% 0;
  border-radius: 20px;
}
.menu__img a:hover {
  transition: 1s;
  color: white;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.7);
}

.entrenamiento {
  background-image: url(../Imagenes/entrenamiento.jpg);
}

.alimentacion {
  background-image: url(../Imagenes/alimentacion.jpg);
}

.recetas {
  background-image: url(../Imagenes/recetas.jpg);
}

.contacto {
  background-image: url(../Imagenes/contacto.jpg);
}

/* FOOTER */
footer {
  margin-top: 20px;
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 16px;
}

/* OTRAS PÁGINAS */
/* ENTRENAMIENTO */
/* HEADER */
.titulo {
  margin-bottom: 20px;
  padding: 0;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hentrenamiento {
  background-image: url(../Imagenes/fondo_entrenamiento.jpg);
}

.halimentacion {
  background-image: url(../Imagenes/fondo_alimentacion.jpg);
}

.hrecetas {
  background-image: url(../Imagenes/fondo_recetas.jpg);
}

.hcontacto {
  background-image: url(../Imagenes/fondo_contacto.jpg);
}

ul {
  list-style-type: none;
  font-size: 18px;
}

iframe {
  width: 100%;
}

.spotify {
  padding: 10px 20px;
}

/* ALIMENTACIÓN */
table {
  margin: 20px 10px;
}/*# sourceMappingURL=styles.css.map */