/*COMPUTADORA*/

body{
    margin: 0;
    padding: 0;
    color: rgb(90, 90, 90);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*HEADER*/

main{
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: RGB(69, 223, 181);
    border-radius: 0 0 20px 20px;
    height: 270px;
}
main.index{
    margin: 0;
    padding-bottom: 10px;
    height: 450px;
    border-radius: 0 0 30px 30px;
}
nav{
    background-color: rgb(116, 116, 116);
    margin: 0;
    padding: 20px 0;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;

}
ul {
    list-style: none;
    display: flex;
    margin: 0;
}
li {
    margin: auto;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: RGB(69, 223, 181);
}
h1{
    color: white;
    font-weight: bold ;
    font-size: 50px;
    margin-top: 59px;
    margin-bottom: 20px;
    margin-left: 25px;
}
h1.index{
    margin-top: 130px;
    margin-left: 40px;
    margin-bottom: 25px;
    font-size: 64px;
}
h2{
    color:white;
    font-size: 24px;
    text-indent: 20px;
    margin-left: 25px;
    font-weight: lighter;
}
h2.index{
    margin-left: 40px;
    text-indent: 5px;
    font-size: 26px;
    font-weight: bold;
}

/*MEDIO*/

h3{
    color:RGB(40, 209, 165);
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
}
p{
    color:rgb(90, 90, 90);
    font-size: 22px;
    text-indent: 20px;
    letter-spacing: 1px;
    margin-left: 20px; 
    margin-right: 20px;
}
.intro{
    text-align: center;
    text-indent: 20px;
    margin-top: 50px;
    font-size: 22px;
}
.d1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
}
.texto{
    margin-bottom: 20px;
}
.p1{
    display: block;
    text-indent: 20px;
    width: 500px;
    margin: auto;
}
.p2{
    text-align: center;
    text-indent: 20px;

}
.img1{
    width: 450px;
    height: 300px;
    border-radius: 25px;
    /* margin: auto; */
}
.d2 ul{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
}

.imglink{
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

/*FOOTER*/

footer{
    background-color: RGB(69, 223, 181);
    margin: 30px 0 0 0;
    padding: 20px 0 5px 0;
}
p.derechos{
    color: white;
    font-size: 14px;
    padding-top: 25px;
}
p.foot{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 5px 0 15px 0;
}
/*OTRAS PÁGINAS*/

/*ENTRENAMIENTO*/

ul.entrenamiento{
    display: inline-block;
    list-style:disc;
    font-size: 22px;
}
h5.entrenamiento{
    text-align: left;
    text-indent: 10px;
}
iframe.spotify{
    margin: 20px;
}
.musica {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*ALIMENTACION*/

table{
    border: 2px;
    border-color: rgb(90, 90, 90);
    border-style:solid;
    font-size: 22px;
}

.nada{
    background-color: rgb(255, 255, 255);
}
th{
    color: RGB(40, 209, 165);
}
td{
    font-size: 18px;
    padding: 10px;
}

/*RECETAS*/
ul.indice{
    font-size: 22px;
    font-weight: bold;
}
h4{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 15px;
}
h5{
    text-align: center;
    font-size: 26px;
    color: RGB(40, 209, 165);
    margin: 40px 0 25px 0;
}
h6{
    font-size: 22px;
    margin: 0 0 10px 0;
}
ul.ingredientes{
    display: inline-block;
    list-style:disc;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}
ol.instrucciones{
    font-size: 22px;
}
div.recetas{
    display: flex;
    margin-bottom: 20px;
}
span.ingredientes{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
}
.recetas iframe{
    width: 560px;
    height: 315px;
    min-width: 560px;
    margin-left: 15px;
}
.centrado{
    display: block;
    margin: 0 auto;
}

/*CONTACTO*/

.contactoh1{
    font-size: 50px;
    margin-bottom: 20px;
}
.contactoh2{
    font-weight: lighter;
    text-indent: 20px;
}
form{
    margin-bottom: 60px;
}
label{
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 22px;
}
input{
    margin-bottom: 40px;
    width: 300px;
    height: 25px;
}
input.nombre{
    margin-right: 10px;
}
input.radio{
    margin-bottom: 20px;
    width: 30px;
    height: 20px;
}
input.ultimo{
    margin-bottom: 40px;
}
.radiop{
    display: inline;
    font-size: 20px;
}
textarea{
    width: 500px;
    margin-bottom: 40px;
}
.enviar{
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: RGB(40, 209, 165);
    color: white;
    border: none;
    margin-bottom: 0;
}

