/* HEADER */
.inicio{
    margin-bottom: 20px;
    padding: 0;
    height: 400px;
    background-image: url(../Imagenes/fondo_index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio:hover{
    transition: 1s;
    filter:saturate(1.4);
}
header div{
    border: 2px #fff;
    border-radius: 15px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/* SECTION */
h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
}
h2{
    color: #fff;
    text-align: center;
    font-size: 24px;
}
h3{
    text-align: center;
    color: #fff;
    padding: 15px 0;
    margin: 20px 0;
    font-size: 28px;
}
h4{
    color: #fff;
    padding: 5px 0;
    font-size: 26px;
    text-align: center;
}
h5{
    color: #1DD3B0;
    font-size: 24px;
}
.color1{
    background-color: #A1FC22;
}
.color2{
    background-color: #FF6392;
}
.color3{
    background-color: #1DD3B0;
}
.color4{
    background-color: #FFA552;
}
.dimg1{
    display: flex;
    align-items: center;
}
.img1{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
p{
    text-indent: 15px;
    font-size: 18px;
    margin: 20px 10px;
}
.p1{
    margin: 0;
}
.menu__img{
    margin: 10px auto;
    /* padding-top: 50%; */
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__img a{
    display: block;
    padding: 45% 0;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
.menu__img a:hover{
    transition: 1s ;
    color: rgb(255, 255, 255);
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.7);
}
.entrenamiento{
    background-image: url(../Imagenes/entrenamiento.jpg);
}
.alimentacion{
    background-image: url(../Imagenes/alimentacion0.jpg);
}
.recetas{
    background-image: url(../Imagenes/recetas.jpg);
}
.contacto{
    background-image: url(../Imagenes/contacto.jpeg);
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
}
footer p{
    font-size: 16px;
}
/* ENTRENAMIENTO */
/* HEADER */
.hentrenamiento{
    margin-bottom: 20px;
    padding: 0;
    height: 300px;
    background-image: url(../Imagenes/fondo_entrenamiento.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    font-size: 18px;
}
iframe{
    width: 100%;
}
.spotify{
    padding: 10px 20px;
}