@charset "UTF-8";
/* HEADER */
.inicio {
  margin-bottom: 20px;
  padding: 0;
  height: 400px;
  background-image: url(../Imagenes/fondo_index.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  border-radius: 15px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: sacude;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
@keyframes sacude {
  0% {
    rotate: -9deg;
  }
  25% {
    rotate: 7deg;
  }
  50% {
    rotate: -5deg;
  }
  75% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}

/* BOTON PARA SUBIR */
.subir {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  margin: 0 25px 25px 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  animation-name: subebaja;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.subir i {
  font-size: 45px;
  color: rgba(43, 44, 48, 0.7);
  transition: 0.5s;
}
@keyframes subebaja {
  50% {
    scale: 1.1;
  }
}

/* SECTION */
h1 {
  color: white;
  text-align: center;
}

h1 {
  font-size: 34px;
}

h2 {
  color: white;
  text-align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h3 {
  padding: 15px 0;
  margin: 20px 0;
}

h4 {
  padding: 5px 0;
}

h5 {
  color: #1DD3B0;
  text-align: center;
  margin-top: 25px;
}

h6 {
  color: #FF6392;
  margin: 1%;
}

.color1 {
  background-color: #A1FC22;
}

.color2 {
  background-color: #FF6392;
}

.color3 {
  background-color: #1DD3B0;
}

.color4 {
  background-color: #FFA552;
}

.dimg1 {
  display: flex;
  align-items: center;
}

.img1 {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

p {
  text-indent: 15px;
  font-size: 18px;
  margin: 20px 10px;
}

.p1 {
  margin: 0;
}

.menu__img {
  margin: 10px auto;
  border-radius: 20px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__img a {
  width: 100%;
  padding: 45% 0;
  border-radius: 20px;
  display: block;
  text-align: center;
  align-content: center;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  transition: 1s;
}
.menu__img a:hover {
  color: white;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.7);
}

.entrenamiento {
  background-image: url(../Imagenes/entrenamiento.jpg);
}

.alimentacion {
  background-image: url(../Imagenes/alimentacion.jpg);
}

.recetas {
  background-image: url(../Imagenes/recetas.jpg);
}

.contacto {
  background-image: url(../Imagenes/contacto.jpg);
}

/* FOOTER */
footer {
  margin-top: 20px;
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 16px;
}

/* OTRAS PÁGINAS */
/* HEADER */
.titulo {
  margin-bottom: 20px;
  padding: 0;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hentrenamiento {
  background-image: url(../Imagenes/fondo_entrenamiento.jpg);
}

.halimentacion {
  background-image: url(../Imagenes/fondo_alimentacion.jpg);
}

.hrecetas {
  background-image: url(../Imagenes/fondo_recetas.jpg);
}

.hcontacto {
  background-image: url(../Imagenes/fondo_contacto.jpg);
}

ul {
  list-style-type: none;
  font-size: 18px;
}

iframe.spotify {
  width: 100%;
  padding: 10px 20px;
}
iframe.youtube {
  border-radius: 10px;
}

/* ALIMENTACIÓN */
table {
  margin: 20px 10px;
}

/* RECETAS */
.indice {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .indice {
    flex-direction: column;
    align-items: center;
  }
}
.recetas1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recetas1 .ingredientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recetas1 .ingredientes ul {
  text-align: center;
}

.yt {
  display: block;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .youtube {
    width: 400px;
    height: 225px;
  }
}
@media screen and (max-width: 450px) {
  .youtube {
    width: 300px;
    height: 170px;
  }
}
button a {
  color: white;
  text-decoration: none;
}
button a:hover {
  color: white;
}
button.dropdown-toggle {
  color: white;
}
button.dropdown-toggle:hover {
  color: white;
}/*# sourceMappingURL=styles.css.map */